<div class="col-10 offset-1">
  <center>
  <h1>About This Bootcamp Quiz</h1>

  <p>
    This page was built by <a target="-blank" href="https://robynwang.netlify.com">Robyn</a> for her week 3 quiz. She is buiding this page to test her ability in following the steps to building a working web application without the help of others. Hopefully she's got the right idea and it works!
  </p>
  </center>
</div>