<center>
  <h1>Welcome to Robyn's Attempt at Quiz 1!</h1>
  <p>La dee dah, blah blah blah</p>
</center>

  <p><%= @comment.feedback %> </p>
  <i>- <%= @comment.author %></i>

<br class="clear" />
<br />
<br />
<br />