<h1>Enter Your Comments Here</h1>
<%= simple_form_for @comment do |f| %>
  <%= f.input :feedback %>
  <%= f.input :author %>
  <br />
  <%= f.submit 'Submit', class: 'btn btn-outline-success' %>
<% end %>

