@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Farro&display=swap');

@import url('https://fonts.googleapis.com/css?family=Farro|Libre+Caslon+Display&display=swap');

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Shadows+Into+Light&display=swap');

.clear {
    Clear: both;
}

body {
  background: image_url('linedpaper.png');

}

.logo {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;position: relative;
  border-radius: 100%;
  background: white;
  border: 1px;
  width: 80px;
  height: 63px;
  margin: 20x 20px;
  text-align: center;
  color: #73997d;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}

.slogan {
  font-family: 'Farro', sans-serif;
  padding-top: 20px
}

.links {
  padding-top: 20px;
}

.links a {
    font-family: 'Fjalla One', sans-serif;
    color: black;
    border-bottom: 1px solid #dfdfdf;
}

header { 
  border-top: 7px solid #73997d;
  border-bottom: 7px solid #73997d;
  background: white;  
}

hr { 
  clear: both;
}

p {
  font-family: 'Libre Caslon Display', serif;
}

i {
  font-family: 'Cormorant Garamond', serif;  
}

.date-created{
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  font-size: 10px;
}

.footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: right;
  font-size: 10px;
}

.logo:hover {
    text-decoration: none;
}

h1 {
  font-family: 'Fjalla One', sans-serif; 
}

.modal-title {
  font-family: 'Fjalla One', sans-serif; 
  text-align: center;
}

.modal-body {
  font-family: 'Libre Caslon Display', serif;
}