<div class="col-10 offset-1">
  <h1><center>Compilation of Memes</center></h1>
</div>

<br />

<% @image.each do |image| %>
  <p><%= image.caption %><br />
  <i>-<%= image.author %></i></p>
  <br />
  <center><%= image_tag image.picture.to_s, class: 'img-fluid' %></center>
  <br />
<% end %>

<br /><br /><br />
<div class="clear"></div>